/* App Layout */
.app-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar-area main-content-area"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(350px, 25%) 1fr;
  height: 100vh;
}

.header-area {
  grid-area: header;
}

.sidebar-area {
  grid-area: sidebar-area;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}

.main-content-area {
  grid-area: main-content-area;
  overflow-y: auto;
  padding: 20px;
}

.footer-area {
  grid-area: footer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}