/* Footer - Full Width */
.footer-container {
    width: 100%;
    background-color: #e1e1e1;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-row {
    display: flex;
}

.footer-box {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.totalverdi {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
