.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}
